/* CUSTOM STYLES */

.material-btn {	
	color: #14C3E7 !important;
	border: none;
	padding: 0 16px;
	text-align: center;
	text-overflow: ellipsis;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.5s;
}
.btn-round {
	border-radius: 15px;
}
.bg-white {
	background: #fff;
}
.ruler {
	width: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #222;
    right: 0;
    height: 0;
    margin: auto;
}
.slicknav_btn {
	background-color: transparent !important;
}

